    $primary: #1B1A17; // black
    $secondary: #f5b932; // gold
    $success: #16FF00; // gold //16FF00 green
    $accent: #E45826; // kessari
    $background: #e0ded9; // off - white
    $white: #fff;