@import '../../../assets/scss/Gernal/variable.scss';
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root{
    color: $secondary !important
}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: $secondary !important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:after{
    border-bottom: 2px solid $secondary !important;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled, .Mui-error):before{
    border-bottom: 2px solid $white !important
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:before{
    border-bottom: 1px solid $secondary !important
}